* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  width: 100vw; !important
}

body {
  position: relative;
}

video, canvas#compute {
  position: absolute;
  display: none;
}
canvas {
  width: 100%;
  height: 100%;
}
